<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <header>
    <h1>Bird Collector</h1>
    <h3>Edit bird</h3>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/<%= bird.id %>?_method=PUT" method="POST">
      Add to My Collection: <input type="checkbox" name="addToCollection" /><br />
      Notes:<input type="textarea" name="notes" />
      <input type="submit" value="Update Bird" />
    </form>
  </main>

</body>
</html>
