<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  
  <header>
    <h1>Bird Collector</h1>
    <h3>Edit bird</h3>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/<%= bird.id %>?_method=PUT" method="POST">
      Add to My Collection: <input type="checkbox" name="addToCollection" /><br />
      Notes:<input type="textarea" name="notes" />
      <input type="submit" value="Update Bird" />
    </form>
  </main>

</body>
</html>
