<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>
    <h1>Bird Collector</h1>
    <nav>
      <ul>
        <li><a href="/collection">My Collection</a></li>
      </ul>
    </nav>
  </header>




  <footer>
    <nav>
      <ul>
        <li><a href="/new">Add Bird to Database</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>